.find .find__header-list {
  display: flex;
  justify-content: space-between;
}
.find .header-btn__title {
  display: block;
}
.find .header-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px;
}

.find .header-btn__title {
  margin-top: 10px;
  font-size: 14px;
}
